---
permalink: /sport/
layout: default
title: Sport-kiipeily Vantaalla
---
<section>
   <h2>Vantaalaisesta sport-kiipeilystä:</h2>
   <p>Sporttia kiipeilevälle löytyy Vantaalta tekemistä. 
      Ei läheskään niin paljoa kuin boulderoijalle, mutta nämä Vantaan muutama sportticragia on PK-seudun parhaimmistoa. 
      Rollareilta ja Tussinkoskelta löytyy laajalti helposta vaikeaan reittiä, kun taas käärmekallio tarjoaa sopivan alustan, jolla käydä aloittamassa omien köysikiipeilytaitojen harjoituksen. 
      Yhteensä Vantaalta löytyy 56 Sportti reittiä, gradejen 3 ja 7b väliltä.
   </p>
   <hr class="major" />
   <header class="major">
      <h2>Sport-kiipeilysijainnit Vantaalla:</h2>
   </header>
   <div class="posts">
      {% include crag.html id="rollarit" context="sport" %}
      {% include crag.html id="kaarmekallio" context="sport" %}
      {% include crag.html id="tussinkoski" context="sport" %}
   </div>
</section>
