---
permalink: /vukryn-cragit/
layout: default
title: VUK ry:n Hallinnoimat
---
<section>
   <h2>VUK ry:n kehittämistä crageista:</h2>
   <p>VUK ry on kehittänyt toimintansa aikana julkaisuun asti kahdeksan boulderointi cragia, joista viisi sijaitsee Vantaan puolella. 
      VUK ry on myös kehittänyt Saimaan rannalle pienen DWS cragin. 
      Kehitystyön lisäksi VUK ry topottaa joitain muiden kehittämiä alueita, joiden topoja se sitten hallinnoi.
      Tälle sivulle on listattu kaikki VUK ry:n hallinnoimat cragit, myös ne Vantaan ulkopuolella sijaitsevat.
   </p>
   <hr class="major" />
   <header class="major">
      <h2>VUK ry:n hallinnoimat topot</h2>
   </header>
   <div class="posts">
      {% include crag.html id="kuusikko" context="vukryboulder" %}
      {% include crag.html id="haltiavuori" context="vukryboulder" %}
      {% include crag.html id="ylasto_boulder" context="vukryboulder" %}
      {% include crag.html id="uusmaki" context="vukryboulder" %}
      {% include crag.html id="hanskallio" context="vukryboulder" %}
      {% include crag.html id="ylasto_suburbia" context="vukryboulder" %}
      {% include crag.html id="aviapolis" context="vukryboulder" %}
      {% include crag.html id="helsinki_outlet" context="vukryboulder" %}
      {% include crag.html id="palokalliot" context="vukryboulder" %}
      {% include crag.html id="osterbacken" context="vukryboulder" %}
      {% include crag.html id="vaarala" context="vukryboulder" %}
      {% include crag.html id="kuussilta" context="vukryboulder" %}
      {% include crag.html id="martinkylan" context="vukryboulder" %}
      {% include crag.html id="rajatorppa" context="vukryboulder" %}
      {% include crag.html id="ukonhaudanniemi" context="vukrydws" %}
   </div>
</section>
