---
permalink: /trad/
layout: default
title: Trad-kiipeily Vantaalla
---
<section>
   <h2>Vantaalaisesta trädi-kiipeilystä:</h2>
   <p>Trädikiipeilijälle löytyy yllättävän paljon tekemistä Vantaan puolella. Kolme parasta sijaintia (Rollarit, Tussinkoski ja Käärmekallio) vie suurimman osan huomiosta, mutta täältä löytyy trädikiipeilijöille muutama muukin leikkipaikka. Kokonaisuudessaan Vantaalta löytyy 6 trädi cragia, jotka sisältävät yhteensä 50 reittiä gradejen 3 ja 7b väliltä.</p>
   <hr class="major" />
   <header class="major">
      <h2>Trad-kiipeilysijainnit Vantaalla:</h2>
   </header>
   <div class="posts">
      {% include crag.html id="rollarit" context="trad" %}
      {% include crag.html id="tussinkoski" context="trad" %}
      {% include crag.html id="kuusijarven_slabi" context="trad" %}
      {% include crag.html id="kaarmekallio" context="trad" %}
      {% include crag.html id="kyrkberget" context="trad" %}
      {% include crag.html id="sipoonkorpi" context="trad" %}
   </div>
</section>
