---
permalink: /boulder/
layout: default
title: Boulderointi Vantaalla
---
<section>
   <h2>Vantaalaisesta boulderoinnista:</h2>
   <p>Boulderoijalle löytyy Vantaalta huomattavasti enemmän tekemistä köysikiipeilijään verrattuna. 
      Sijainteja riittää, 27 Cragsiin on listattu premium-crageja jopa 15 ja ilmaisia crageja löytyy 14. 
      Ilmaisista vain toki osa on visiitin arvoisia. 
      Vantaalta löytyy muutama reitti oikein kovillekkin boulderoijille, sillä Vantaan <a href="{{ '/vaikeat-boulderit/' | relative_url }}">vaikeimpien boulderien</a> grade on jo 8A:n puolella. 
      Cragien määrän takia, kaikkia ei ole listattu tähän, mutta käy tutkimassa <a href="{{ '/kartta/' | relative_url }}">karttasivuamme!</a>
      Sieltä löytyy kaikki Vantaan kiipeilysijainnit vuorovaikutteiselta kartalta. 
      Vantaalta löytyy yhteensä yli 700+ boulder reittiä, joista yli 500+ sijaitsee takuu-laadukkailla premium crageilla. (laskettu 06/03/2025)
   </p>
   <hr class="major" />
   <header class="major">
      <h2>Boulderointipaikat Vantaalla:</h2>
   </header>
   <div class="posts">
      {% include crag.html id="sipoonkorpi" context="boulder" %}
      {% include crag.html id="kuusikko" context="boulder" %}
      {% include crag.html id="mellunmaki" context="boulder" %}
      {% include crag.html id="ylasto_boulder" context="boulder" %}
      {% include crag.html id="hanskallio" context="boulder" %}
      {% include crag.html id="hakunila" context="boulder" %}
      {% include crag.html id="aurinkomaki" context="boulder" %}
      {% include crag.html id="palokalliot" context="boulder" %}
      {% include crag.html id="osterbacken" context="boulder" %}
      {% include crag.html id="vaarala" context="boulder" %}
      {% include crag.html id="synttarikallio" context="boulder" %}
      {% include crag.html id="martinkylan" context="boulder" %}
   </div>
</section>
