				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							
							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Sisältö</h2>
									</header>
									<ul>
										<li><a href="index.html">Kotisivu</a></li>
										<li><a href="lisaameista.html">Lisää meistä</a></li>
										<li><a href="kartta.html">Kartta</a></li>
										<li>
											<span class="opener">Vantaan Cragit</span>
											<ul>
												<li><a href="cragboulder.html">Boulderointi</a></li>
												<li><a href="cragsport.html">Sport</a></li>
												<li><a href="cragtrad.html">Trad</a></li>
												<li><a href="cragvukry.html">VUK ry:n kehittämät</a></li>
												<li><a href="cragmuu.html">Muu kiipeily</a></li>
												
											</ul>
										</li>
										<li><a href="newsblog.html">Uutiset & Blogi</a></li>
										<li>
											<span class="opener">Resurssit</span>
											<ul>
												<li><a href="reskasky.html">Ulkokiipeilijän 10 käskyä</a></li>
												<li><a href="resstart.html">Ulkokiipeilyn aloittajalle</a></li>
												<li><a href="resvocab.html">Kiipeilijän sanakirja</a></li>
												<li><a href="ressafety.html">Turvallisuudesta</a></li>
												<li><a href="reshardboulder.html">Vantaan vaikeimmat boulderit</a></li>
											</ul>
										</li>
										<li><a href="tapahtumat.html">Tapahtumat</a></li>
										<li><a href="join.html">Jäsenyys</a></li>
										<li><a href="https://27crags.com/teams/haltiavuoren-cragmasters/photos">Galleria</a></li>
										<li><a href="thanks.html">Kiitokset</a></li>
										<li><a href="contact.html">Ota yhteyttä</a></li>
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Ota yhteyttä</h2>
									</header>
									<p>Voit olla meihin yhteydessä lähettämällä viestiä alla olevaan sähköpostiosoitteeseen!</p>
									<ul class="contact">
										<li class="icon solid fa-envelope">contact@vukry.com</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; VUK ry. All rights reserved. Sivun design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>
