<!-- Sidebar -->
<div id="sidebar">
  <div class="inner">
    <!-- Menu -->
    <nav id="menu">
      <header class="major">
        <h2>Sisältö</h2>
      </header>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Kotisivu</a></li>
        <li><a href="{{ '/about/' | relative_url }}">Lisää meistä</a></li>
        <li><a href="{{ '/kartta/' | relative_url }}">Kartta</a></li>
        <li>
          <span class="opener">Vantaan Cragit</span>
          <ul>
            <li><a href="{{ '/boulder/' | relative_url }}">Boulderointi</a></li>
            <li><a href="{{ '/sport/' | relative_url }}">Sport</a></li>
            <li><a href="{{ '/trad/' | relative_url }}">Trad</a></li>
            <li><a href="{{ '/vukryn-cragit/' | relative_url }}">VUK ry:n kehittämät</a></li>
            <li><a href="{{ '/muu-kiipeily/' | relative_url }}">Muu kiipeily</a></li>
          </ul>
        </li>
        <li><a href="{{ '/uutiset/' | relative_url }}">Uutiset & Blogi</a></li>
        <li>
          <span class="opener">Resurssit</span>
          <ul>
            <li><a href="{{ '/10-kaskya/' | relative_url }}">Ulkokiipeilijän 10 käskyä</a></li>
            <li><a href="{{ '/aloita/' | relative_url }}">Ulkokiipeilyn aloittajalle</a></li>
            <li><a href="{{ '/sanasto/' | relative_url }}">Kiipeilijän sanakirja</a></li>
            <li><a href="{{ '/turvallisuus/' | relative_url }}">Turvallisuudesta</a></li>
            <li><a href="{{ '/vaikeat-boulderit/' | relative_url }}">Vantaan vaikeimmat boulderit</a></li>
          </ul>
        </li>
        <li><a href="{{ '/tapahtumat/' | relative_url }}">Tapahtumat</a></li>
        <li><a href="{{ '/liity/' | relative_url }}">Jäsenyys</a></li>
        <li><a href="https://27crags.com/teams/haltiavuoren-cragmasters/photos">Galleria</a></li>
        <li><a href="{{ '/kiitos/' | relative_url }}">Kiitokset</a></li>
        <li><a href="{{ '/contact/' | relative_url }}">Ota yhteyttä</a></li>
      </ul>
    </nav>

    <!-- Section -->
    <section>
      <header class="major">
        <h2>Ota yhteyttä</h2>
      </header>
      <p>Voit olla meihin yhteydessä lähettämällä viestiä alla olevaan sähköpostiosoitteeseen!</p>
      <ul class="contact">
        <li class="icon solid fa-envelope">contact@vukry.com</li>
      </ul>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <p class="copyright">&copy; VUK ry. All rights reserved. Sivun design: <a href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>
  </div>
</div>
